/* NOTE: Variables do not work within calc function */

// Enforces the scrollbar view
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

* {
  background: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

a:link visited {
  border-color: black;
}

a:hover {
  border-width: 4px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  width: 100%;
}

#main-content-wrapper {
  margin: 0 1em;
}

#edit-slide-view {
  position: relative;
  // padding-bottom: 56.25%;
  border: 2px dashed rgba(100, 100, 100, .5);
}

// .single-slide-views {
//   position: fixed;
//   bottom: 0;
//   right: 0;
//   height: 120px;
//   width: calc(100% - 250px);
//   overflow-x: auto;
//   overflow-y: hidden;
//   white-space: nowrap;
//   border: 1px solid black;
// }

// .mini-single-slide {
//   height: 70px;
//   width: 100px;
//   margin: 30px 0px 30px 10px;
//   border: .5px solid black;
//   display: inline-block;
// }
