/* NOTE: Variables do not work within calc function */

#container {
  background-color: rgba(0, 0, 0, 1);
  height: 100vh;
}

#main-content-wrapper {
  margin: 0 1em;
}

#menu-bar-wrapper {
  margin: 5px 0;
}

#edit-slide-view {
  position: relative;
  border: 2px dashed rgba(100, 100, 100, .5);
}

.vertical-guideline {
  border-left: 2px dotted rgba(255, 128, 128, .3);
  position: relative;
  float: left;
  right: -50%;
}

.horizontal-guideline {
  border-top: 2px dotted rgba(255, 128, 128, .3);
  position: absolute;
  top: 50%;
  bottom: 50%;
}