.mini-slide {
  width: 192px;
  height: 108px;
  position: relative;
  border: 2px solid #c0c0c0;
  margin: 15px auto;
}

.mini-slide-counter {
  font-weight: 600;
  margin-left: 7px;
  float: left;
}