#mini-slide-panel {
  height: 100vh;
  background-color: #8A9BA8;
  overflow-y: auto;
}

.mini-slide {
  position: relative;
  background-color: white;
  border: 2px solid #c0c0c0;
  box-shadow: 1px 1px 3px #c0c0c0;
  box-sizing: initial;
  margin: 5px auto 10px;
}

.current-mini-slide {
  border: 4px solid #106ba3 !important;
  border-radius: 5px;
  box-shadow: 1px 1px 8px #106ba3 !important;
}

.current-mini-slide-overlay {
  background-color: #5C7080;
  padding: 5px 0;
}

.mini-slide-counter {
  float: left;
  font-weight: 600;
  margin-left: 5px;
}