$mini-slides-padding: 10px 0px;
$mini-slide-border: 2px solid #106BA3;

#mini-slide-panel {
  list-style-type: none;
  overflow-y: auto;

  .mini-slide-item {
    padding: $mini-slides-padding;

    &.active {
      background-color: #5C7080;
    }
  }

  .mini-slide-content {
    position: relative;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    box-sizing: initial;
    margin: 0 auto;
  }

  .mini-slide-counter {
    float: left;
    font-weight: 600;
    margin-left: 5px;
  }
}
