#mini-slide-panel {
  height: 100vh;
  background-color: rgba(0,0,0,.2);
  overflow-y: auto;
}

.mini-slide {
  position: relative;
  background-color: white;
  border: 2px solid #c0c0c0;
  box-shadow: 1px 1px 3px #c0c0c0;
  box-sizing: initial;
  margin: 15px auto;
}

.current-mini-slide {
  border: 4px solid #106ba3 !important;
  border-radius: 5px;
  box-shadow: 1px 1px 8px #106ba3 !important;
}

.mini-slide-counter {
  font-weight: 600;
  margin-left: 20px;
  float: left;
}