// blueprintjs
.pt-menu {
  min-width: 0 !important;
  padding: 0 !important;
}

.pt-large .pt-menu-item::before {
  margin: 0 5px !important;
}

.pt-transition-container {
  z-index: 100 !important;
}

.pt-popover-content {
  padding: 5px !important;
}