#control-panel-container {
  width: 100%;
  text-align: center;
  margin: 10px 0 30px;

  .pt-button {
    margin: 0 7px;
    opacity: 0.6;

    &:hover {
      opacity: 1.0;
    }
  }
}

.handle-vertical-custom {
  background: none !important;
  border: none;
  box-shadow: none !important;

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: none;
  }
}