.handle-vertical-custom {
  background: none !important;
  border: none;
  box-shadow: none !important;
  cursor: -webkit-grab;

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: none;
  }

  &:active {
    cursor: -webkit-grabbing;
  }
}