#utilities-menu-container {
  background-color: #293742;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

#options-list {
  margin-left: 10px;
  margin-right: 10px;
}

#delete-button-devdecks {
  width: 100%;
  margin: 0 auto 15px;
}