#current-slide-view {
  height: calc(100vh - 200px);
  width: calc(100vw - 275px);
  border: 1px solid black;
  margin-right: 1em;
}

.rnd {
  z-index: 0;

  &.editing {
    border: 1px solid #1baee1;
    margin: -1px;
  }

  &.force-dynamic-height {
    height: 100% !important;
  }
}