#current-slide-view {
  height: calc(100vh - 200px);
  width: calc(100vw - 275px);
  border: 1px solid black;
  margin-right: 1em;
}

.rnd {
  border: 1px solid lightgray;
  z-index: 0;

  &.force-dynamic-height {
    height: 100% !important;
  }
}
